.footer-section {
    background-color: #111;
    color: var(--text-secondary-color);
    padding: 2rem 0;
    text-align: center;
    border-top: 1px solid var(--border-color);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* --- Иконки соцсетей --- */
/* .footer-socials {
    display: flex;
    justify-content: center;
    gap: 1.5rem; 
    margin-bottom: 0.5rem;
} */

/* .footer-socials a {
    font-size: 1.5rem;
    color: var(--text-secondary-color);
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
} */

/* .footer-socials a:hover {
    color: var(--primary-color);
    transform: translateY(-3px); 
} */

.footer-content p {
    margin: 0;
    font-size: 0.9rem;
}

.footer-content a {
    text-decoration: none;
    transition: all 0.3s;
}

.footer-content a:hover {
    text-decoration: underline;
    opacity: 0.9;
}
